.createForm-container {
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 1rem;
  gap: .5rem;
}

.createForm-container form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.createForm-container form textarea {
  resize: none;
  height: 5rem;
}

.createForm-container form .button {
  color: #fff;
  background: #34a853;
}