@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
}

body, input, textarea, .button {
  font-family: 'Poppins', sans-serif;
}

input, textarea {
  padding: .3rem;
}

.button {
  width: max-content;
  border: 1px solid transparent;
  padding: .4rem;
  border-radius: .1rem;
  transition: all 400ms ease;
  font-weight: 600;
  cursor: pointer;
  border-radius: .2rem;
}